<div style="text-align: center;padding-top: 50px;">
    <form [formGroup]="chatbotForm" (ngSubmit)="sendMessage()">
      <input style="width: 20%;padding: 10px;" formControlName="userMessage" placeholder="Type your message here..." />
      <div *ngIf="chatbotForm.get('userMessage')?.invalid && chatbotForm.get('userMessage')?.touched">
        <small style="color: red;">Message is required.</small>
      </div>
      <button style="width: 10%; height: 40px; margin-left: 10px;" type="submit">Send</button>
    </form>
  </div>
  
  <div style="margin: 50px;" *ngFor="let chat of chatHistory"> 
    <p *ngIf="chat.sender === 'user'">You: {{ chat.message }}</p>
    <p *ngIf="chat.sender === 'chatbot'">Chatbot: {{ chat.message }}</p>
  </div>
  